body
{
	/*overflow: hidden;*/
}

.adjustForKnown
{
	position: absolute;
	left: 20%;
	width: 80%;
	/* these values are dependent on the values
		of #known. The left offset is #known's width
		and the width is 100 - left offset. */
}

.toggle
{
	height: 100%;
	width: 100%;
}

#playerView
{
}

.characterPiece
{
  position: absolute;
  z-index: 1;
}

.known
{
  position: absolute;
  z-index: 1;
}

#knownCanvas
{
  position: relative;
}

#boardCanvas
{
  position: absolute;
}

#spaces
{
  position: absolute;
  z-index: 3;
}

#p1piece, #p2piece, #p3piece,
#p4piece, #p5piece, #p6piece,
#p1known, #p2known, #p3known,
#p4known, #p5known, #p6known
{
  display: none;
}