<div id="rules" class="modal">
		<div id="rulesClose" class="close">
			<a href="#">X</a>
		</div>
		
		<div id="ruleText">
			<p>
				Clue - Classic Detective Game - Re-branded with Disney Princesses <br />
				(modified from the Hasbro pdf)
			</p>
		
			<h3>Contents:</h3>
			<p>
				<ul>
					<li><a href="#objective">Objective</a></li>
					<li><a href="#equipment">Equipment</a></li>
					<li><a href="#setup">Set Up</a></li>
					<li><a href="#gameplay">Game Play</a></li>
				</ul>
			</p>
			
			<h3 id="objective">Objective</h3>
			<p>
				The Prince - apparently the victim of a sleeping curse - is found in one of the houses of the village. To win, you must determine the answers to these three questions: 
				<ol>
					<li>Who put the curse on The Prince?</li>
					<li>Where was the spell cast?</li>
					<li>What object was used to put the spell on The Prince?</li>
				</ol>
			</p>
			
			<h3 id="equipment">Equipment</h3> <br />
			<p>
				<ul> 
					<li> Clue Game Board: This shows <b>nine</b> locations in The Prince's village:
						<ul>
							<li>Grotto</li>
							<li>Ballroom</li>
							<li>Forest</li>
							<li>Garden</li>
							<li>Kitchen</li>
							<li>Tower</li>
							<li>Cottage</li>
							<li>Cave</li>
							<li>Tent</li>
						</ul>
					</li>
					<li> <b>Six</b> coloured tokens, each representing one of the Princesses:
						<ul>
							<li> Yellow: Belle (Beauty and the Beast)</li> 
							<li> Red: Ariel (The Little Mermaid)</li>
							<li> Purple: Pocahontas (Pocahontas)</li>
							<li> Green: Tiana (The Princess and the Frog)</li>
							<li> White: Aurora (Sleeping Beauty)</li>
							<li> Blue: Jasmine (Aladdin)</li>
						</ul>
					</li>
					<li> <b>Six</b> weapons: 
						<ul>
							<li>Trident</li>
							<li>Rose</li>
							<li>Spear</li>
							<li>Tiara</li>
							<li>Lamp</li>
							<li>Spindle</li>
						</ul>
					</li>
				</ul>
			</p>
			
			<h3 id="setup">Set Up</h3>
			<p>
				<ol>
					<li>To start a new game:
						<ol>
							<li> Click "Start New Game."</li>
							<li> Give the game code on the screen to players you'd like to play with.</li>
							<li> When at least three people have joined, the option to continue to game will appear.</li>
							<li> <b>NOTICE</b> Once the game has started, no new players can be added.</li>
						</ol>
					</li>
					
					<li>
						<ol>
							<li> Click "Join Game"</li>
							<li> Input code provided by the game's leader.</li>
							<li> Select your character & wait!</li>
						</ol>
					</li>
				</ol>
			</p>
			
			<h3 id="gameplay">Game Play</h3>
			<ul>
				<li><a href="#moving">Moving Your Token</a>
					<ul>
						<li><a href="#rolling">Rolling the Die</a></li>
						<li><a href="#secret">Secret Passages</a></li>
						<li><a href="#roomaccess">Entering and Leaving a Room</a></li>
					</ul>
				</li>
				<li><a href="#suggestion">Making a Suggestion</a></li>
				<li><a href="#making">Making an Accusation</a></li>
			</ul>
		
			<p>
				<h4 id="moving">Moving Your Token</h4>
				<p>
					On each turn, try to reach a different room of the mansion. To start your turn, move your token either by rolling the die or, if you're in a corner room, using a Secret Passage:
						<h5 id="rolling">Rolling</h5>
							<p>Roll the die and move your token the number of squares you rolled.
						<ul>
							<li>You may move horizontally or vertically, forward or backward, but not diagonally.</li>
							<li>You may change directions as many times as your roll will allow. You may not, however, enter the same square twice on the same turn.</li>
							<li>You may not enter or land on a square that's already occupied by another suspect.</li>
						</ul>
						</p>
						
					<h5 id="secret">Secret Passages</h5>
						<p>The rooms in opposite corners of the mansion are connected by Secret Passages. If you're in one of these rooms at the start of your turn, you may, if you wish, use a Secret Passage instead of rolling. To move through a Secret Passage, announce that you wish to do so, then move your token to the room in the opposite corner.
						</p>
					<h5>Entering and Leaving a Room</h5>
						<p> You may enter or leave a room either by rolling the die and moving through a door, or by moving through a Secret Passage.
							<ul>
								<li>A door is the opening in the wall, not the space in front of the doorway. When you pass through a door, do not count the doorway itself as a space.</li>
								<li>You may not pass through a door that's blocked by an opponent's token.</li>
								<li>As soon as you enter a room, stop moving. It doesn't matter if you roll a number that's higher than you need to enter.</li>
								<li>You may not re-enter the same room on a single turn.</li>
								<li>It is possible that your opponents might block any and all doors and trap you in a room. If this happens, you must wait for someone to move and un-block a door so you can leave!</li>
							</ul>
						</p>
				</p>
				
				<h4 id="suggestion">Making a Suggestions</h4>
				<p>
					As soon as you enter a room, make a Suggestion. By making Suggestions throughout the game, you try to determin - by process of elimination - which three cards are in the confidential Case File envelope. To make a Suggestion, move a Suspect and a WEapon into the room that you just entered. Then suggest that the crime was committed in that Room, by that Suspect, with that Weapon. <br />
					
					Example: Let's say that you're Miss Scarlet and you enter the Lounge. First move another Suspect - Mr. Green, for instance - into the Lounge. Then move a weapon - the Wrench, perhaps - into the Lounge. Then say, "I suggest the crime was commited in the Lounge by Mr. Green with the Wrench." <br />
					
					Remember two things:
						<ul>
							<li>You must be in the Room that you mention in your Suggestion. </li>
							<li> Be sure to consider all tokens - including spare Suspects and including yourself! - as falling under equal suspicion. </li>
						</ul>
				</p>
				
				<h4 id="proving">Proving a Suggestion True or False</h4>
				<p>
					As soon as you make a Suggestion, your opponents, in turn, try to prove it false. The first to try is the player to your immediate left. The player looks at his or her cards to see if one of the three cards you just named is there. If the player does have one of the cards named, he or she must show it to you and no one else. If the player has more than one of the cards named, he or she selects just one to show you. <br />
					If that opponent has none of the cards that you named, then the chance to prove your Suggestion false passes, in turn, to the next player on the left.<br />
				</p>As soon as one opponent shows you one of the cards that you named, it is proof that this card cannot be in the envelope. End your turn by checking off this card in your notebook. (Some players find it helpful to mark the initials of the player who showed the card.) If no one is able to prove your Suggestion flase, you may either end your turn or make an Accusation now. <br />
				
				<h4 id="making">Making an Accusation</h4>
				<p>
					When you think you've figured out which three cards are in the envelope, hyou may, on your turn, make an Accusation and name any three elements you want. First say "I accuse (Suspect) of committing the crime in the (Room) with the (Weapon)." Then, so no one else can see, look at the cards in the envelope.<br />
					In a Suggestion, the Room you name must be the Room where your token is located. But in an Accusation, you may name any room. <br />
					Remember: You may make only one Accusation during a game.
									
				</p>
				
				<h4>If Your Accusation Is Incorrect</h4>
				<p>
					If any one of the cards that you name is not in the Case File:
					<ul>
						<li> Secretly return all three cards to the envelope. </li>
						<li> You may make no further moves in the game, and therefore cannot win, but you do remain involved in the investigation.</li>
						<li> You do continue to try to prove your opponents' Suggestions false.</li>
						<li> Your opponents may continue to move your token into various Rooms where they make Suggestiosn.</li>
						<li> If after making a false Accusation your token is blocking a door, move it into that room so that other players may enter.</li>
					</ul>
				</p>
			
			<h3>Winning</h3>
			<p> You win the game if your Accusation is completely correct - that is, if you find in the envelope all three of the cards you named. When this happens, take out all three cards and lay them out for everyone to see.</p>
			
			<h4>Special Notes About Suggestions</h4>
			<p>
			<ol>
				<li> When you make a suggestion, you may, if you wish, name one or more of the cards that you hold in your own hand. You might want to do this to gain information or to mislead your opponents.</li>
				<li> You may, if you wish, make a Suggestion and an Accusation on the same turn.</li>
				<li> You may make only one Suggestion after entering a particular room. To make your next Suggestion, you must either enter a different room or, sometime after your next turn, re-enter the room that you most recently left. You may not forfeit a turn to remain in a particular room. but if you're trapped in a room because your oppoennts are blocking the door(s), you must remain there until a door is unblocked and you can move out of the Room.</li>
				<li>You may make a Suggestion that inclueds a Suspect or Weapon that's already in your Room. In this case, transferring one or both of those items is not necessary. When a transfer is necessary, leave the item(s) in the new location after the Suggestion is made.</li>
				<li>If your was the Suspect transferred, you may, on your next turn, do one of two things: Move from the Room in one of the usual ways OR Make a Suggestion for that room. If you decide to make a Suggestion, do not roll the die or move your token.</li>
				<li> There is no limit to the number of Suspects or Weapons that may be in one Room at one time.</li>
			</ol>
			</p>
			</p>
		</div>
	</div>